/* 통합 디자인 위치 common.css */
/* 개인파인별 디자인 금지! */
body {background-color: rgba(0,0,0,0.15);}
#wrap {
    width: 440px;
    height: 95vh; min-height: 956px;
    background-color: #fff; margin: 5px auto 0;
    padding: 64px 15px 0;
}
#wrap header {
    overflow: hidden;/* 자식에게 float 쓰면 부모(header)에게 oveflow-hidden 해줘야보임 */
}
#wrap header h1 {
    float: left;/* h1, nav 형제 둘다 float 써줘야함 */
}
#wrap header h1 a {
    font-size: 1.5rem;/* 24px */
    font-weight: 600;
}
#wrap header nav {
    float: right;
}
#wrap header nav a {}
#wrap header nav a img {}
#wrap header nav .search {
    margin-right: 8px;
}
#wrap header nav .search img {}
#wrap header nav .all_menu {}
#wrap header nav .all_menu img {}
#wrap .tab_menu {
    margin: 20px 0 12px;
    border-bottom: 1px solid #ddd;
}
#wrap .tab_menu a {
    line-height: 40px;/* 한줄의 글자를 중간으로 오게 만들수있음 */
    font-size: 1.13rem;/* 18px */
    display: inline-block;
    color: #999;/* 1. 비활성화 디자인 */
}
#wrap .tab_menu .active {
    font-weight: 600; color: #000;/* 2. 활성화 디자인 */
}
#wrap .tab_menu .all {
    margin-right: 10px;
}
#wrap .tab_menu .today {}
#wrap .tab_contents {}
#wrap .tab_contents .contents {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
#wrap .tab_contents .contents a {
    float: left;
    line-height: 50px;
}
/* 상태선택자 :hover */
#wrap .tab_contents .contents:hover {border-bottom: 1px solid #000000;}
#wrap .tab_contents .contents:hover a {
    background-color: #e7f0ff;
    font-weight: 600;
}
#wrap .tab_contents .contents a:hover {}
#wrap .tab_contents .contents .date {
    width: 72px; text-align: center;
}
#wrap .tab_contents .contents .date + a {
    width: calc(100% - 72px);
}
#wrap .tab_contents .contents1 {}
#wrap .tab_contents .contents2 {}
#wrap .tab_contents .contents3 {}
#wrap #write_fab {
    position: fixed;
    /* position: absolute; */
    right: 50px; bottom:50px;
}
#wrap #write_fab:hover img {filter: invert(1)}
#wrap #write_fab img {}