/* 할일 작성 write.css */
#wrap {position: relative;}
#wrap #write_form {
    position: absolute; left: 20px; top: 228px;
    /* absolute 설정 시 주의사항 및 작업 순서 */
    /* 1. 부모 position 추가설정 */
    /* 2. 너비 재설정 */
    background-color: rgba(255,255,255,0.8);
    width: calc(100% - 40px); 
    border-radius: 20px; padding: 20px;
    border: 1px solid #ddd;
    /* 자식 write_wrap의 세로값을 부모는 자동으로 따라감 */
}
#wrap #write_form #write_wrap {
    height: 300px;
}
#wrap #write_form #write_wrap #write_contents {
    width: 100%; height: calc(100% - 24px);
    border: none; background: none;
}
#wrap #write_form #write_wrap #confirm_btn {
    width: 100%; text-align: right;
}
#wrap #write_form #write_wrap #confirm_btn img {}